li{
    list-style:none;
}
ul{
    padding:0;
}

.header{
    font-size:20px;
    font-weight:bold;
    // text-align:center;
}
.notice{
    color:white;
}

.menu{
    background-color:#012F4B;
    color:#fff;
}
.menu li {
    padding:5% 10%;
    text-align:center;
}
.contents li{
    background-color:#F3A7AB;
    color:#fff;
    padding:10% 10%;
    box-sizing: border-box;
    border: solid 1px #fff;
}
.topic li{
    margin:1%;
    border-bottom: dotted 1px #333333;
}
.container{
    margin-top:20px;
    padding-bottom: 100px;
    background-color: yellow;
}

.collapse-navbar-collapse {
    background-color: yellow;
}

.navbar-default {
    background-color: #ab428a99;
    border-color: #e7e7e7;
}
td img {
    width:10%;
}
p img {
    width:10%;
}
.img-td {
    width:10%;
}
.img {
    width:30%;
}